
#random {
  /* ENHANCEMENT */
  background-image: url('https://bettysgraphics.neocities.org/images/backgrounds/011.GIF');  
}
.big {
    background-color: rgb(166, 160, 166);
    width: 87vw;
    height:87vh;
    margin-left: 6vw;
    margin-top: 8vh;
    border-color: rgb(107, 101, 106);
    border-style: solid;
    border-width: 10px;
}